*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: solid 1px black;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}

main {
  position: absolute;
  inset: 32px;
}

.wrapper {
  height: 100%;
  padding: 32px;
  position: relative;
}

#header {
  grid-area: h;
}

#rating {
  grid-area: r;
}

#feedback {
  grid-area: f;
}

.content {
  display: grid;
  height: 100%;
  grid-auto-columns: 1fr;
  grid-template-areas: 
          "h r"
          "f f";
}

footer {
  margin-top: auto;
  width: 100%;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin: 4px;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}