*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: solid 1px black;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}

main {
  display: flex;
  flex: 1;
  height: 100%;
  max-width: 1440px;
  margin-inline: auto;
  flex-direction: column;
}

.wrapper {
  display: flex;
  flex: 1;
  height: 100%;
  padding: 32px;
  flex-direction: column;
}

#header {
  grid-area: h;
}

#rating {
  grid-area: r;
}

#feedback {
  grid-area: f;
}

.content {
  margin: 32px;
  display: grid;
  height: 100%;
  grid-auto-columns: 1fr;
  grid-template-areas: 
          "h r"
          "f f";
}

footer {
  margin-top: auto;
  width: 100%;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin: 4px;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 768px) {
  
}

@media (min-width: 769px) {
  body {
    background-image: url('images/bg-pattern-top-desktop.svg'), url('images/bg-pattern-bottom-desktop.svg');
    background-size: cover, cover;
    background-position: top, bottom;
  }
}